input.form-search {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #cccccc;

  &:focus {
    outline: none;
    border-width: 2px;
  }
}

.bg-img {
  background-image: url(https://pixnio.com/free-images/2017/12/01/2017-12-01-09-32-13.jpg);
  background-size: cover;
  background-position: center;
}

.box-weather {
  border-radius: 15px;
}
